name: Test and lint

on:
  push:
    branches: [master]
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          [
            "pypy-3.6",
            "pypy-3.7",
            "3.6",
            "3.7",
            "3.8",
            "3.9",
            "3.10",
            # "3.11-dev", disabled until test tools support 3.11
          ]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install needed dependencies
        run: |
          pip install tox tox-gh-actions

      - name: Run tests with tox
        run: tox

  lint:
    runs-on: ubuntu-latest
    env:
      TARGETS: src tests

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: |
          poetry config virtualenvs.in-project true
          poetry install

      - name: Run isort
        run: poetry run isort --check-only ${TARGETS}

      - name: Run black
        run: poetry run black --check ${TARGETS}

      - name: Run mypy
        run: poetry run mypy ${TARGETS}

      - name: Run pylint
        run: poetry run pylint ${TARGETS}
