name: Test coverage

on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:
    branches:
      - "**"

jobs:
  codecov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "poetry"

      - name: Install dependencies
        run: |
          poetry config virtualenvs.in-project true
          poetry install

      - name: Generate report
        run: |
          export PYTHONPATH=$PWD
          poetry run coverage run --parallel-mode --source flexmock tests/test_unittest.py
          poetry run coverage run --parallel-mode --source flexmock tests/test_doctest.py
          poetry run coverage run --parallel-mode --source flexmock -m pytest
          poetry run coverage combine
          poetry run coverage xml

      - name: Upload report to Codecov
        uses: codecov/codecov-action@v3
